<div class="modal fade" id="detailGroupModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="detailGroupLabel" aria-hidden="true">
    <app-messageConfirm (eventMessageConfirm)="onDelete($event)" [message]=message></app-messageConfirm>
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title">{{userGroup.groupName}}</h5>
                <div class="editDiv">
                    <button type="button" *ngIf="edit()" class="editButton" title="Editar grupo"
                            data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#createGroupModal"
                            (click)="pageMember=0"></button>
                </div>
                <div class="deleteDiv">
                    <button type="button" class="deleteButton" title="Eliminar grupo"  data-bs-toggle="modal" data-bs-target="#messageConfirmModal"
                             (click)="messageValue();pageMember=0"></button>
                </div>
                <button type="button" id="closeButton" class="btn-close closeButton" data-bs-dismiss="modal"
                        aria-label="Close"
                        (click)="pageMember=0"></button>
            </div>
            <div class="modal-body">
                <div class="col container-fluid">
                    <div class="row">
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="imageGroupDiv">
                                <ng-container *ngIf="userGroup.groupPhoto; else imagesDiv">
                                    <img class="imageGroup" [src]="userGroup.groupPhoto" alt=""
                                         id="detailUserGroup_photo">
                                </ng-container>
                                <ng-template #imagesDiv>
                                    <img class="imageGroup" [src]="defaultImage">
                                </ng-template>
                                <div class="date text">
                                    Creación: {{userGroup.groupCreation | date: 'dd-MM-yyyy'}}</div>
                                <div class="description-row text"
                                     name="userGroupDescription"
                                     id="detailUserGroup_userGroupDescription">
                                    {{userGroup.groupDescription}}

                                </div>
                            </div>
                        </div>
                        <div class="paginationMemberDiv col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="row">
                                <div *ngFor="let user of groupMembers" class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <ng-container *ngIf="user.userPhoto; else userImagesDiv">
                                        <p title="{{ownerLabel(user.userId)}}" class="imageP">
                                            <img class="imageMember" [ngClass]="ownerBorder(user.userId)"
                                               [src]="user.userPhoto" alt="" id="detailUser_photo">
                                        </p>
                                        <p title="{{ownerLabel(user.userId)}}" class="member">
                                          {{user.userLogin}}
                                        </p>
                                    </ng-container>
                                    <ng-template #userImagesDiv>
                                        <p title="{{ownerLabel(user.userId)}}" class="imageP">
                                            <img class="imageMember" [ngClass]="ownerBorder(user.userId)" [src]="defaultUserImage">
                                        </p>
                                        <p title="{{ownerLabel(user.userId)}}" class="member">
                                          {{user.userLogin}}
                                        </p>
                                    </ng-template>
                                </div>
                                <div *ngIf="totalMembers > sizeMember" class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 more" (click)="getMoreMembers();"><a>
                                    {{more}}</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <ul class="row paginationUserGroup">
                            <li [ngClass]="previousUserGroup" *ngIf="previous">
                                <a class="previousUserGroup" (click)="setPageUserGroup(-1); pageMember=0">Anterior</a>
                            </li>
                            <li [ngClass]="nextUserGroup" *ngIf="next">
                                <a class="nextUserGroup" (click)="setPageUserGroup(1); pageMember=0">Siguiente</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>