<div class="modal fade" id="detailUserModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="detailUserLabel" aria-hidden="true">
    <app-messageConfirm (eventMessageConfirm)="onRequest($event)" [message]=message></app-messageConfirm>
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title">
                    {{user.userLogin}}
                </h5>
                <div class="statusDiv">
                    <button type="button" class="button" title="Cambiar de estado"
                            data-bs-toggle="modal" data-bs-target="#messageConfirmModal">{{status}}</button>
                </div>
                <button type="button" id="closeButton" class="btn-close closeButton"  data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col container-fluid">
                    <div class="row">
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="imageUserDiv">
                                <ng-container *ngIf="user.userPhoto; else imagesDiv">
                                    <img class="imageUser" [src]="user.userPhoto" alt=""
                                         id="detailUser_photo">
                                </ng-container>
                                <ng-template #imagesDiv>
                                    <img class="imageUser" [src]="defaultImage">
                                </ng-template>
                            </div>
                            <p class="text">AMIGOS COMUNES</p>
                            <div class="row paginationMutualDiv">
                                <div *ngFor="let user of mutualFriends" class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <ng-container *ngIf="user.userPhoto; else userImagesDiv">
                                        <p class="imageP">
                                            <img class="imageMutuals"
                                                 [src]="user.userPhoto" alt="" id="detailMutualUser_photo">
                                        </p>
                                        <p class="mutual">
                                            {{user.userLogin}}
                                        </p>
                                    </ng-container>
                                    <ng-template #userImagesDiv>
                                        <p class="imageP">
                                            <img class="imageMutuals" [src]="defaultImage">
                                        </p>
                                        <p class="mutual">
                                            {{user.userLogin}}
                                        </p>
                                    </ng-template>
                                </div>
                                <div *ngIf="pageMutualFriends > 0" class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 more" (click)="getLessMutualFriends();"><a>
                                    Ver menos</a></div>
                                <div *ngIf="mutualFriends.length < totalMutualFriends" class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 more" (click)="getMoreMutualFriends();"><a>
                                    Ver más</a></div>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mutualBorder">
                            <p class="text">GRUPOS COMUNES</p>
                            <div class="row paginationMutualDiv">
                                <div *ngFor="let group of mutualGroups" class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <ng-container *ngIf="group.groupPhoto; else groupImagesDiv">
                                        <p class="imageP">
                                            <img class="imageMutuals"
                                                 [src]="group.groupPhoto" alt="" id="detailMutualGroup_photo">
                                        </p>
                                        <p class="mutual">
                                            {{group.groupName}}
                                        </p>
                                    </ng-container>
                                    <ng-template #groupImagesDiv>
                                        <p class="imageP">
                                            <img class="imageMutuals" [src]="defaultGroupImage">
                                        </p>
                                        <p class="mutual">
                                            {{group.groupName}}
                                        </p>
                                    </ng-template>
                                </div>
                                <div *ngIf="pageMutualGroups > 0" class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 more" (click)="getLessMutualGroups();"><a>
                                    Ver menos</a></div>
                                <div *ngIf="mutualGroups.length < totalMutualGroups" class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 more" (click)="getMoreMutualGroups();"><a>
                                    Ver más</a></div>
                            </div>
                            <p class="text">EVENTOS COMUNES</p>
                            <div class="row paginationMutualDiv">
                                <div *ngFor="let event of mutualEvents" class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <ng-container *ngIf="event.eventPhoto; else eventImagesDiv">
                                        <p class="imageP">
                                            <img class="imageMutuals"
                                                 [src]="event.eventPhoto" alt="" id="detailMutualEvent_photo">
                                        </p>
                                        <p class="mutual">
                                            {{event.eventName}}
                                        </p>
                                    </ng-container>
                                    <ng-template #eventImagesDiv>
                                        <p class="imageP">
                                            <img class="imageMutuals" [src]="defaultEventImage">
                                        </p>
                                        <p class="mutual">
                                            {{event.eventName}}
                                        </p>
                                    </ng-template>
                                </div>
                                <div *ngIf="pageMutualEvents > 0" class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 more" (click)="getLessMutualEvents();"><a>
                                    Ver menos</a></div>
                                <div *ngIf="mutualEvents.length < totalMutualEvents" class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 more" (click)="getMoreMutualEvents();"><a>
                                    Ver más</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <ul class="row paginationUser">
                            <li [ngClass]="previousUser" *ngIf="previous">
                                <a class="previousUser" (click)="setPage(-1);">Anterior</a>
                            </li>
                            <li [ngClass]="nextUser" *ngIf="next">
                                <a class="nextUser" (click)="setPage(1);">Siguiente</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>